<div class="card">
  <div class="card-header">
    <h4>계정 등록</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"이메일"%>
      </div>

      <div class="field form-group">
        <% f.label :password %>
        <% if @minimum_password_length %>
          <em>최소 <%= @minimum_password_length %> 글자</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"패스워드" %>
      </div>

      <div class="field form-group">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"패스워드 확인" %>
      </div>

      <div class="actions">
        <%= f.submit "등록" %>
      </div>
    <% end %>
  </div>
</div>

<br/>
<%= render "devise/shared/links" %>
